@media (max-width:1150px){
    .gff input {
        padding: 10px 0px 12px 0px;
        width: 100%;
    }
    .gff .iii {
        padding: 10px 0px 12px 0px;
        width: 100%;
    }
    .img__com {
        width: 100%;
    }
    .imggg input {
        padding: 12px 0px 12px 0px;
        width: 100%;
        
    }
}